.Home{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
  border: none;
  font-size: 100px;
  font-family: Blacksword;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,0.1) , 0 0 20px rgba(255,255,255,0.1) , 0 0 5px rgba(255,255,255,1) , 0 0 5px #ffe603f3 , 0 0 5px #ffe603f3 , 0 0 5px #ffe603f3 , 0 0 5px #ffe603f3 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 5px rgba(255,255,255,1) , 0 0 10px #915804  , 0 0 20px #915804   , 0 0 20px #915804  , 0 0 20px #915804   ;
}



.gif {
  filter: sepia(100%);
  width: 240px;
  height: 200px;
}
 
.button_refresh{
  width: 100px;
  height: 25px;
  margin: 0px 2px 0px 0px;
  
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: rgb(88, 88, 87);
   background-color: rgb(235, 178, 34);
}
.button_refresh:hover{
  width: 100px;
  height: 25px;   
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color:rgb(90, 90, 90); 
  color: rgb(235, 178, 34);
}


.allselects{
  display:flex;
  flex-wrap: wrap;
  justify-content: center; 
  
  
} 
.selects{
  margin: 30px 0px 30px 0px;
  width: 250px;
  height: 30px;
color: rgb(235, 178, 34);
border: 1px solid;
border-color:rgb(146, 111, 22);
border-radius: 4px;  
background-color:rgb(102, 101, 101); 
}
 
 /** ================ CARD =============== **/  

 
 .card-container-home{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-shrink: 1;
 }  

 /** ================ SEARCH =============== **/  
 .selects{ 
  margin:  30px 2px 8px 2px; 
  color: rgb(235, 178, 34);
  border-radius: 4px;  
  background-color:rgb(90, 90, 90); 
}
.button_seach{ 
    width: 110px;
    height: 25px;
      
    
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(88, 88, 87);
     background-color: rgb(235, 178, 34);
  }
  .button_seach:hover{
    margin-left: 10px;
    width: 110px;
    height: 25px;   
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-color:rgb(90, 90, 90); 
    color: rgb(235, 178, 34);
  }
.search-input{
  margin:  30px 4px 0px 2px;
  padding:  0px 0px 0px 0px;
  width: 210px;
  height: 29px; 
  color: rgb(235, 178, 34);
  background-color:rgb(90, 90, 90); 
}


.imgH{  
/*  position:fixed; */
  height:  100vh;  
  background-repeat: repeat ;
  background-image: url("../../Media/ss.png");   
}
